---
---

@import "syntax-highlighting"

html
  position: relative
  min-height: 100%

body
  color: #212121
  font-family: 'Open Sans', sans-serif

.logo
  margin-top: 0
  height: 40px
  display: block

.sidebar-nav
  background-color: #fafafa
  display: block
  height: 100%
  padding-top: 15px
  padding-bottom: 15px

.main
  background-color: #272822
  color: white

  .sidebar-text
    background-color: white
    color: #212121
