<li class='resource'><a href='addon_providers.html'><strong>Addon providers</strong></a>{% if page.path == 'addon_providers.html' %}{% include addon_providers_toc.html %}{% endif %}</li>
<li class='resource'><a href='addons.html'><strong>Addons</strong></a>{% if page.path == 'addons.html' %}{% include addons_toc.html %}{% endif %}</li>
<li class='resource'><a href='apps.html'><strong>Applications</strong></a>{% if page.path == 'apps.html' %}{% include apps_toc.html %}{% endif %}</li>
<li class='resource'><a href='collaborators.html'><strong>Collaborators</strong></a>{% if page.path == 'collaborators.html' %}{% include collaborators_toc.html %}{% endif %}</li>
<li class='resource'><a href='deployments.html'><strong>Deployments</strong></a>{% if page.path == 'deployments.html' %}{% include deployments_toc.html %}{% endif %}</li>
<li class='resource'><a href='domains.html'><strong>Domains</strong></a>{% if page.path == 'domains.html' %}{% include domains_toc.html %}{% endif %}</li>
<li class='resource'><a href='environment.html'><strong>Environment variables</strong></a>{% if page.path == 'environment.html' %}{% include environment_toc.html %}{% endif %}</li>
<li class='resource'><a href='events.html'><strong>Events</strong></a>{% if page.path == 'events.html' %}{% include events_toc.html %}{% endif %}</li>
<li class='resource'><a href='keys.html'><strong>SSH Keys</strong></a>{% if page.path == 'keys.html' %}{% include keys_toc.html %}{% endif %}</li>
<li class='resource'><a href='logs.html'><strong>Application Logs</strong></a>{% if page.path == 'logs.html' %}{% include logs_toc.html %}{% endif %}</li>
<li class='resource'><a href='one-off.html'><strong>One-off Containers</strong></a>{% if page.path == 'one-off.html' %}{% include one-off_toc.html %}{% endif %}</li>
