<li class='resource'><a href='addons.html'><strong>Addons</strong></a>{% if page.path == 'addons.html' %}{% include addons_toc.html %}{% endif %}</li>
<li class='resource'><a href='events.html'><strong>Events</strong></a>{% if page.path == 'events.html' %}{% include events_toc.html %}{% endif %}</li>
<li class='resource'><a href='environment.html'><strong>Environment variable</strong></a>{% if page.path == 'environment.html' %}{% include environment_toc.html %}{% endif %}</li>
<li class='resource'><a href='addon_providers.html'><strong>Addon providers</strong></a>{% if page.path == 'addon_providers.html' %}{% include addon_providers_toc.html %}{% endif %}</li>
