<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 sidebar-nav">
          <img src="https://scalingo.com/logo.svg" class="h1 logo">
          <strong>API V1</strong>
          <ul class="list-unstyled">
            <li><a href="/index.html#summary">Summary</a></li>
            <li><a href="/index.html#parameters">Parameters</a></li>
            <li><a href="/index.html#http-verbs">HTTP Verbs</a></li>
          </ul>
          <strong>RESOURCES</strong>
          <ul class="list-unstyled">
            <li><a href="/apps.html">Apps</a></li>
            <li><a href="/apps.html">Apps</a></li>
            <li><a href="/apps.html">Apps</a></li>
            <li><a href="/apps.html">Apps</a></li>
            <li><a href="/apps.html">Apps</a></li>
            <li><a href="/apps.html">Apps</a></li>
            <li><a href="/apps.html">Apps</a></li>
          </ul>

        </div>
        <div class="col-sm-10 main">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
