<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 sidebar-nav">
          <img src="https://scalingo.com/logo.svg" class="h1 logo">
          <strong>API V1</strong>
          <ul class="list-unstyled">
            {% include index_toc.html %}
          </ul>
          <strong>RESOURCES</strong>
          <ul class="list-unstyled">
            {% include list_of_resources.html %}
          </ul>

        </div>
        <div class="col-sm-10 main">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
