<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <a href="https://github.com/Scalingo/developers.scalingo.com"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 2;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 sidebar-nav">
          <a href="/"><img src="https://scalingo.com/logo.svg" class="h1 logo img-responsive"></a>
          <span style="background-color:red;color:white; display: inline-block; padding:5px; margin-bottom: 10px;"><i class="fa fa-exclamation-triangle"></i> This is a Work In Progress. Take this documentation with a grain of salt until we announced it officially.</span>
          <strong>API V1</strong>
          <ul class="list-unstyled">
            {% include index_toc.html %}
          </ul>
          <strong>RESOURCES</strong>
          <ul class="list-unstyled">
            {% include list_of_resources.html %}
          </ul>
          <strong>LINKS</strong>
          <ul class="list-unstyled">
            <li><a href="https://scalingo.com">Main site</a></li>
            <li><a href="https://my.scalingo.com">Dashboard</a></li>
          </ul>

        </div>
        <div class="col-sm-10 col-sm-offset-2 main">
          {{ content }}
        </div>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58594777-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
